body.topBarEnabled {
  padding-top: 80px;
}

body.topBarEnabled div.row-fluid a[name] {
	padding-top: 80px;
	margin-top: -80px;
}

ul.breadcrumb {
	margin: 0px;
	padding: 0px;
}

div#topbar ul.nav li:nth-child(n+5), ul.breadcrumb li,
div.sidebar-nav ul.nav li:nth-last-child(-n+20),
div#bannerLeft, div#bannerRight {
	display: none;
}

ul.breadcrumb li.pull-right {
	display: block;
}
